body {
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
}

a {
    text-decoration: inherit;
}

#media-list {
    display: block;
}

#media-list * {
    vertical-align: middle;
}

#media-list a {
    margin: 5px;
    display: block;
    color: black;
}

#media-list a:hover span::before {
    content: "→";
    margin-right: 0.2em;
}

#media-list a:hover span::after {
    content: "←";
    margin-left: 0.2em;
}

#twitter .fa {
    color: #55acee;
}

#facebook .fa {
    color: #3B5998;
}

#github .fa {
    color: black;
}

#stackoverflow div.img {
    display: inline-block;
    background-image: url("https://sstatic.net/stackexchange/img/logos/so/so-icon.png");
    width: 3em;
    height: 2em;
    background-position: center;
    background-size: cover;
    margin: 0 -0.7em 0 -0.7em;
}

.fa {
    font-size: 2em;
}
